---
Language:        Cpp
BasedOnStyle:  WebKit
AlignAfterOpenBracket: Align
AlignArrayOfStructures: Right
AlignOperands: AlignAfterOperator
AlignTrailingComments: Always
AlwaysBreakTemplateDeclarations: Yes
AttributeMacros:
  - __capability
BreakBeforeBraces: Attach
ColumnLimit:     100